:root {
  --background-color: #000;
  --text-color: #f2f7f1;
  --secondary-text-color: #ccc;
  --border-color: #e7ebe6;
  --accent-color: #21df21;
  --accent-color-rgb: 33, 223, 33;
  --shadow-color: #20df20ab;
  --h1-font-size: clamp(2.5rem, 3.33vmax, 3.33vmax);
  --h2-font-size: clamp(2rem, 2.5vmax, 2.5vmax);
  --h3-font-size: 2.083vmax;
  --small-font-size: clamp(.5rem, .87vmax, .87vmax);
  --normal-font-size: clamp(1rem, 1.25vmax, 1.25vmax);
  --big-font-size: clamp(1.5rem, 1.667vmax, 1.667vmax);
}

::selection {
  background: rgba(var(--accent-color-rgb), .4);
}

*, :before, :after {
  box-sizing: border-box;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pt-sans-narrow-regular {
  font-family: PT Sans Narrow, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.pt-sans-narrow-bold {
  font-family: PT Sans Narrow, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.pacifico-regular {
  font-family: Pacifico, cursive;
  font-style: normal;
  font-weight: 400;
}

.pixelify-sans-regular, * {
  font-optical-sizing: auto;
  font-family: Pixelify Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.lobster-regular {
  font-family: Lobster, sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: var(--background-color);
  cursor: url("cursor_retro.88b4f0ad.png"), auto;
  overflow-x: hidden;
}

p {
  font-size: var(--normal-font-size);
}

header {
  z-index: 7;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  display: flex;
  position: fixed;
  top: 5.7vh;
}

#show-nav {
  visibility: hidden;
  opacity: 0;
}

.logo {
  object-fit: contain;
  filter: sepia(.5) hue-rotate(90deg);
  width: max(100px, 6.25vw);
  height: max(100px, 6.25vw);
  margin-right: .521vw;
}

.glass-window {
  backdrop-filter: blur(8px);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

nav {
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 95vw;
  margin-top: 1.563vh;
  padding-left: 1.042vw;
  padding-right: 1.042vw;
  transition: box-shadow .3s;
  display: flex;
}

nav:hover {
  box-shadow: 0 0 10px var(--shadow-color);
}

nav ul {
  justify-content: center;
  align-items: center;
  gap: .521vw;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  display: flex;
}

nav ul a {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  margin: 0 .521vw;
  font-weight: 500;
  text-decoration: none;
  transition: all .4s;
  animation: 1.6s infinite textShadow;
  position: relative;
}

nav ul a:hover {
  text-shadow: 2px 0px 0px var(--shadow-color);
  cursor: url("cursor_pointer.2d7e03bd.png"), auto;
  animation: none;
  scale: 1.1;
}

nav ul a:after {
  content: "";
  background: var(--border-color);
  width: 0;
  height: 2px;
  transition: width .4s;
  display: block;
  box-shadow: 0 8px 32px #1f873026;
}

nav ul a:hover:after {
  width: 100%;
}

.logo-container:hover {
  cursor: url("cursor_pointer.2d7e03bd.png"), auto;
}

@media screen and (width <= 768px) {
  .logo {
    width: 150px;
    height: 150px;
  }

  header {
    width: 0;
    height: 0;
    transition: height .5s, width .5s;
    inset: 0;
  }

  header.open {
    width: 100vw;
    height: 100dvh;
  }

  nav {
    opacity: 0;
    visibility: hidden;
    background-color: #0000009f;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: none;
    height: 100%;
    transition: visibility .5s, opacity .5s;
    position: absolute;
    inset: 0;
  }

  header nav ul {
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
    margin-top: 1.563vh;
  }

  nav ul a {
    font-size: var(--big-font-size);
  }

  header.open nav {
    opacity: 1;
    visibility: visible;
  }

  #show-nav {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(5px);
    outline: 1px solid var(--border-color);
    font-size: var(--h2-font-size);
    z-index: 8;
    background: #00000040;
    border: none;
    border-radius: 2%;
    justify-content: center;
    align-items: center;
    width: 6vmax;
    height: 6vmax;
    padding: 5px 20px;
    transition: outline 1s;
    display: flex;
    position: absolute;
    top: 3vh;
    left: 3vw;
  }

  header.open #show-nav {
    background-color: #0000;
    outline: none;
  }
}

main {
  flex-direction: column;
  align-items: center;
  padding: 15px 20px 20px;
  display: flex;
  position: relative;
  overflow-x: hidden;
}

section {
  z-index: 2;
  width: 95%;
  height: 97vh;
  margin-bottom: 10px;
}

section:nth-child(2n) {
  height: 100vh;
}

.hero-section {
  background: #0e0d0d;
  border-radius: 2%;
  gap: 20px;
  padding: 12.5vw 2.5vw 2.5vw;
  transition: box-shadow .5s ease-in-out;
  display: flex;
  position: relative;
}

.backlight {
  box-shadow: inset 0 6px 30px -3px #ffffff14, inset -8px 0 60px -3px #ffffff14, inset 8px 0 60px -3px #ffffff14;
}

.hero-card {
  color: var(--text-color);
  flex-flow: column wrap;
  width: 45vw;
  display: flex;
}

.hero-card h1 {
  font-size: var(--h1-font-size);
  margin-bottom: var(--small-font-size);
}

.hero-card p {
  font-size: var(--big-font-size);
}

#computer-container {
  position: absolute;
  inset: 0;
}

.ascii-art-container {
  color: var(--accent-color);
  font-family: monospace;
  font-size: var(--small-font-size);
  width: 50%;
  height: 100%;
  overflow: hidden;
}

@media screen and (width <= 768px) {
  section {
    width: 99vw;
    height: 100vh;
  }

  .hero-section {
    flex-direction: column;
    align-items: center;
    gap: 20%;
    padding: 25% 0 0;
  }

  .hero-card {
    width: 90%;
  }

  .ascii-art-container {
    width: 100%;
    position: relative;
    left: -10%;
    overflow: visible;
  }
}

.no-scroll {
  overflow: hidden;
}

.no-opacity {
  opacity: 0;
}

.no-click {
  pointer-events: none;
}

.power-anim {
  z-index: 4;
  border-radius: 2%;
  width: 100%;
  height: 2px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
}

.about-section {
  font-size: var(--normal-font-size);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.about-content-container {
  flex-direction: column;
  width: 95%;
  height: 90%;
  display: flex;
  position: relative;
}

.about-content-container .row {
  height: 50%;
  display: flex;
}

.about-content-container .row > * {
  width: 50%;
}

.about-content-container .row .text {
  height: 85%;
  margin-top: auto;
  padding: 2em;
}

.about-content-container .row .text h2 {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--accent-color);
  text-decoration-color: var(--accent-color);
  text-underline-offset: 20px;
  margin-bottom: 2em;
  text-decoration-thickness: 3px;
}

.about-content-container .row .text:last-child h2 {
  width: max-content;
  margin-left: auto;
}

.about-content-container .row .interactive {
  max-width: 50%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

@media screen and (width <= 768px) {
  .interactive {
    display: none;
  }

  .about-content-container .row > * {
    width: 100%;
  }
}

.projects-section {
  flex-direction: column;
  display: flex;
}

.projects-container {
  opacity: 0;
  align-items: flex-end;
  width: 100%;
  height: 87vh;
  display: flex;
  position: relative;
  overflow-y: auto;
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.project {
  width: 100%;
  height: 80%;
  display: flex;
  position: absolute;
  left: -100%;
  overflow: hidden;
}

.medias-holder {
  --gap: 1.667vmax;
  gap: var(--gap);
  -webkit-user-select: none;
  user-select: none;
  flex-direction: column;
  width: 50%;
  min-height: 100%;
  padding: 1em;
  display: flex;
}

.medias-holder ul {
  gap: var(--gap);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  animation: 30s linear infinite scroll;
  display: flex;
  position: relative;
}

@keyframes scroll {
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

.medias-holder img {
  object-fit: contain;
  max-width: 50%;
  max-height: 50%;
  display: block;
}

.medias-holder img:nth-child(2n) {
  margin-left: 10%;
  margin-right: auto;
}

.medias-holder img:nth-child(odd) {
  margin-left: auto;
  margin-right: 10%;
}

.project button {
  backdrop-filter: blur(5px);
  outline: 1px solid var(--border-color);
  font-size: var(--h2-font-size);
  background: #00000040;
  border: none;
  border-radius: 2%;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  transition: outline 1s;
  display: flex;
  position: absolute;
}

.show-more {
  visibility: hidden;
  top: 20px;
  right: 30px;
}

.play-demo {
  bottom: 20px;
  left: 30px;
}

.play-demo:hover {
  outline: 1px solid var(--accent-color);
  cursor: url("cursor_pointer.2d7e03bd.png"), pointer;
}

.play-demo:active {
  border: 1px solid var(--border-color);
}

#video-dialog {
  z-index: 4000 !important;
}

#video-dialog video {
  object-fit: contain;
  height: 70vh;
}

.description {
  overscroll-behavior: contain;
  width: 50%;
  height: 100%;
  padding: 1em;
  overflow: hidden;
}

.description h3 {
  font-size: var(--h3-font-size);
  margin-bottom: 1em;
}

.description p, .description pre {
  font-size: var(--normal-font-size);
  margin-bottom: 1.25vmax;
}

.description p {
  word-wrap: break-word;
  width: 100%;
}

.description .collaborateur {
  font-weight: bold;
  font-size: var(--big-font-size);
  flex-direction: column;
  padding-bottom: 6em;
  display: flex;
}

.description .collaborateur a, .description .collaborateur span + span {
  color: var(--accent-color);
  margin-left: 4em;
}

.description .collaborateur a:hover {
  cursor: url("cursor_pointer.2d7e03bd.png"), pointer;
  scale: 1.05;
}

.fonctionnalites {
  font-size: var(--normal-font-size);
  padding-bottom: 1em;
}

.fonctionnalites ul {
  margin-bottom: 1.25vmax;
  margin-left: 1.667vmax;
  list-style: "//  ";
}

.fonctionnalites li, .fonctionnalites ul li {
  margin-bottom: .417vmax;
  margin-left: 1.25vmax;
}

.fonctionnalites > li {
  margin-bottom: 1.25vmax;
  list-style: none;
}

.fonctionnalites > ul > ul {
  margin-left: 3.5em;
  list-style: ">>  ";
}

.project .links-holder {
  font-size: var(--h2-font-size);
  border-radius: 2%;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 100px;
  padding: .2em;
  transition: all .2s ease-out;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.links-holder:hover {
  backdrop-filter: blur(5px);
  background: #00000040;
}

.ligne-temporel {
  width: 100%;
  height: 15%;
  padding-bottom: 2.375vh;
}

.ligne-temporel ul {
  flex-wrap: nowrap;
  width: 100%;
  display: flex;
}

.date {
  flex: 1;
  position: relative;
}

.point {
  font-size: var(--normal-font-size);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(.25vw, 5px);
  width: max(60px, 3.7vmax);
  height: max(60px, 3.7vmax);
  display: flex;
}

.date-circle {
  border: 3px solid var(--accent-color);
  border-radius: 50%;
  width: max(40px, 2vmax);
  height: max(40px, 2vmax);
  transition: background .2s ease-out;
}

.date-circle:hover {
  cursor: url("cursor_pointer.2d7e03bd.png"), auto;
  background: rgba(var(--accent-color-rgb), .5);
}

.date[past="true"] .date-circle {
  background: var(--accent-color);
}

.date[current="true"] .date-circle {
  background: rgba(var(--accent-color-rgb), .4);
}

.date-line {
  background: rgba(var(--accent-color-rgb), .2);
  height: 3px;
  position: absolute;
  bottom: 25%;
  left: 50px;
  right: -.26vw;
}

.date .date-line-overlay {
  background: var(--accent-color);
  left: 120%;
}

@media screen and (width <= 768px) {
  .description, .medias-holder {
    opacity: 0;
    opacity: 0;
    width: 100%;
    transition: transform .5s ease-out, opacity .5s ease-out;
    position: absolute;
    left: -100%;
  }

  .medias-holder img {
    width: 45vw;
    height: auto;
    max-height: 20vh;
  }

  .medias-holder.open, .description.open {
    opacity: 1;
    transform: translateX(100%);
  }

  .show-more {
    visibility: visible;
  }
}

.skills-section {
  background: #0f0f0f;
  border-radius: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  display: flex;
}

.skills-section h2 {
  font-size: var(--h2-font-size);
  margin-top: 2.5em;
  margin-bottom: .5em;
}

.skills-container {
  font-size: var(--normal-font-size);
  width: 90%;
  height: 70%;
  position: relative;
}

.skill {
  text-wrap: nowrap;
  visibility: hidden;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: max(90px, 7.813vw);
  min-width: 65px;
  height: max(90px, 7.813vw);
  min-height: 75px;
  transition: scale .3s cubic-bezier(1, -.095, .655, .52);
  display: flex;
  position: absolute;
}

.skill:hover {
  animation-play-state: paused;
}

.anim1 {
  animation: 20s infinite skillsAnimation1;
}

.anim1:first-of-type {
  animation-delay: .1s;
}

.anim1:nth-of-type(2) {
  animation-delay: .5s;
}

.anim2 {
  animation: 20s infinite reverse skillsAnimation1;
}

.anim2:first-of-type {
  animation-delay: .5s;
}

.anim2:nth-of-type(2) {
  animation-delay: .3s;
}

.anim3 {
  animation: 20s infinite reverse skillsAnimation2;
}

.anim3:nth-of-type(3) {
  animation-delay: .7s;
}

.anim3:nth-of-type(2) {
  animation-delay: .2s;
}

@keyframes skillsAnimation1 {
  0% {
    transform: translate(-6%, -4%);
  }

  20% {
    transform: translate(-10%, -1%);
  }

  40% {
    transform: translate(0);
  }

  50% {
    transform: translate(7%, 4%);
  }

  60% {
    transform: translate(2%, 8%);
  }

  80% {
    transform: translate(0, 1%);
  }

  100% {
    transform: translate(-6%, -4%);
  }
}

@keyframes skillsAnimation2 {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-20%, -9%);
  }

  40% {
    transform: translate(0);
  }

  50% {
    transform: translate(10%, 15%);
  }

  60% {
    transform: translate(2%, 5%);
  }

  80% {
    transform: translate(0, 15%);
  }

  100% {
    transform: translate(0);
  }
}

.skill i, .skill svg {
  font-size: var(--h1-font-size);
  height: var(--h1-font-size);
  pointer-events: none;
}

.skill:hover {
  z-index: 5;
  scale: 1.3;
}

.skill .skill-name {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: max-content;
  font-size: 1.667vmax;
  display: flex;
  position: absolute;
  right: -6vw;
}

#plus {
  cursor: url("cursor_pointer.2d7e03bd.png"), pointer;
}

.progress-bar {
  outline: 3px solid var(--border-color);
  width: 3.49vw;
  padding-inline: .156vw;
  font-size: 1.25vmax;
  font-weight: 1000;
}

#more-skills, #video-dialog {
  outline: 1px solid var(--border-color);
  z-index: 7;
  font-size: var(--normal-font-size);
  background-color: #000000e6;
  width: 0;
  height: 0;
  padding: .5em;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden auto;
  transform: translate(-50%, -50%);
}

#more-skills[open], #video-dialog[open] {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

#more-skills::-webkit-scrollbar {
  display: none;
}

.username {
  color: var(--accent-color);
}

.location {
  color: #f7b80a;
  margin-right: 5px;
}

.user-type {
  margin-right: 5px;
}

.typing-indicator {
  margin-left: -11px;
  font-family: Courier New, Courier, monospace;
  font-size: 1.667vmax;
  font-weight: 100;
  line-height: 0;
  animation: .8s infinite typeBlink;
}

@keyframes typeBlink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.line:not(:first-of-type), .ls-result {
  opacity: 0;
}

.cat-result-more-skills {
  min-height: 80%;
  display: none;
}

.skill-terminal {
  flex-direction: column;
  gap: .3vmin;
  height: 100%;
  display: flex;
}

.skill-terminal pre {
  color: var(--accent-color);
  font-family: monospace;
  font-size: 6px;
}

input.command {
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  width: 50%;
  padding: 0;
  animation: 1.5s infinite textShadow;
}

@media screen and (width <= 768px) {
  input.command {
    display: none;
  }

  .skill-name {
    font-size: var(--h1-font-size);
    bottom: -6vh;
    right: 25% !important;
  }

  .skill-name .progress-bar {
    font-size: var(--normal-font-size);
    width: 40px;
  }
}

input.command + .typing-indicator {
  display: none;
}

.contact-section {
  border-radius: 2%;
  position: relative;
  overflow: hidden;
}

#matrix-effect-container {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-section .overlay {
  z-index: 3;
  pointer-events: none;
  background: #0f0f0f2c;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-section .content {
  color: var(--text-color);
  z-index: 4;
  justify-content: space-around;
  align-items: center;
  width: max(300px, 60%);
  height: max(300px, 60%);
  padding: 2em;
  font-size: 1.25vmax;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-contact {
  flex-direction: column;
  align-items: center;
  gap: 1em;
  display: flex;
}

.img-contact img {
  object-fit: cover;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  width: max(100px, 10.417vw);
  height: max(100px, 10.417vw);
}

.socials-container {
  font-size: var(--big-font-size);
  justify-content: center;
  gap: 20px;
  width: 100%;
  display: flex;
}

.socials-container i:before, .project i:before {
  transition: transform .4s;
}

.socials-container a:hover i:before, .project a:hover i:before {
  text-shadow: 2px 0px 0px var(--shadow-color);
  cursor: url("cursor_pointer.2d7e03bd.png"), auto;
  transform: scale(1.2);
}

.text-content-contact {
  width: 50%;
}

.text-content-contact h2 {
  margin-bottom: 1.667vmax;
  font-size: 2.5vmax;
}

@media screen and (width <= 768px) {
  .contact-section .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
  }

  .text-content-contact {
    width: 95%;
  }
}

footer {
  color: var(--text-color);
  z-index: 10;
  background: #0f0f0f;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12vh;
  padding: 20px;
  font-size: 1.25vmax;
  display: flex;
  position: absolute;
  bottom: 0;
}

footer span {
  color: var(--accent-color);
  font-size: 2.5vmax;
}

::-webkit-scrollbar {
  background-color: var(--background-color);
  border-radius: 10px;
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10px;
}

@keyframes flicker {
  0% {
    opacity: .27861;
  }

  5% {
    opacity: .34769;
  }

  10% {
    opacity: .23604;
  }

  15% {
    opacity: .90626;
  }

  20% {
    opacity: .18128;
  }

  25% {
    opacity: .83891;
  }

  30% {
    opacity: .65583;
  }

  35% {
    opacity: .67807;
  }

  40% {
    opacity: .26559;
  }

  45% {
    opacity: .84693;
  }

  50% {
    opacity: .96019;
  }

  55% {
    opacity: .08594;
  }

  60% {
    opacity: .20313;
  }

  65% {
    opacity: .71988;
  }

  70% {
    opacity: .53455;
  }

  75% {
    opacity: .37288;
  }

  80% {
    opacity: .71428;
  }

  85% {
    opacity: .70419;
  }

  90% {
    opacity: .7003;
  }

  95% {
    opacity: .36108;
  }

  100% {
    opacity: .24387;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: .438992px 0 1px #001eff80, -.438992px 0 1px #ff00504d, 0 0 3px;
  }

  5% {
    text-shadow: 2.7929px 0 1px #001eff80, -2.7929px 0 1px #ff00504d, 0 0 3px;
  }

  10% {
    text-shadow: .0295628px 0 1px #001eff80, -.0295628px 0 1px #ff00504d, 0 0 3px;
  }

  15% {
    text-shadow: .402185px 0 1px #001eff80, -.402185px 0 1px #ff00504d, 0 0 3px;
  }

  20% {
    text-shadow: 3.4794px 0 1px #001eff80, -3.4794px 0 1px #ff00504d, 0 0 3px;
  }

  25% {
    text-shadow: 1.61256px 0 1px #001eff80, -1.61256px 0 1px #ff00504d, 0 0 3px;
  }

  30% {
    text-shadow: .701559px 0 1px #001eff80, -.701559px 0 1px #ff00504d, 0 0 3px;
  }

  35% {
    text-shadow: 3.89691px 0 1px #001eff80, -3.89691px 0 1px #ff00504d, 0 0 3px;
  }

  40% {
    text-shadow: 3.87091px 0 1px #001eff80, -3.87091px 0 1px #ff00504d, 0 0 3px;
  }

  45% {
    text-shadow: 2.23106px 0 1px #001eff80, -2.23106px 0 1px #ff00504d, 0 0 3px;
  }

  50% {
    text-shadow: .0808429px 0 1px #001eff80, -.0808429px 0 1px #ff00504d, 0 0 3px;
  }

  55% {
    text-shadow: 2.37585px 0 1px #001eff80, -2.37585px 0 1px #ff00504d, 0 0 3px;
  }

  60% {
    text-shadow: 2.20219px 0 1px #001eff80, -2.20219px 0 1px #ff00504d, 0 0 3px;
  }

  65% {
    text-shadow: 2.86388px 0 1px #001eff80, -2.86388px 0 1px #ff00504d, 0 0 3px;
  }

  70% {
    text-shadow: .48874px 0 1px #001eff80, -.48874px 0 1px #ff00504d, 0 0 3px;
  }

  75% {
    text-shadow: 1.89485px 0 1px #001eff80, -1.89485px 0 1px #ff00504d, 0 0 3px;
  }

  80% {
    text-shadow: .0833037px 0 1px #001eff80, -.0833037px 0 1px #ff00504d, 0 0 3px;
  }

  85% {
    text-shadow: .0976983px 0 1px #001eff80, -.0976983px 0 1px #ff00504d, 0 0 3px;
  }

  90% {
    text-shadow: 3.44334px 0 1px #001eff80, -3.44334px 0 1px #ff00504d, 0 0 3px;
  }

  95% {
    text-shadow: 2.18418px 0 1px #001eff80, -2.18418px 0 1px #ff00504d, 0 0 3px;
  }

  100% {
    text-shadow: 2.62088px 0 1px #001eff80, -2.62088px 0 1px #ff00504d, 0 0 3px;
  }
}

.crt:after {
  content: " ";
  opacity: 0;
  z-index: 8;
  pointer-events: none;
  background: #1210101a;
  height: 480vh;
  animation: .15s infinite flicker;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.crt:before {
  content: " ";
  z-index: 8;
  pointer-events: none;
  background: linear-gradient(#12101000 50%, #00000040 50%) 0 0 / 100% .208vw, linear-gradient(90deg, #ff00000f, #00ff0005, #0000ff0f) 0 0 / .315vw 100%;
  height: 490vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.crt {
  animation: 1.6s infinite textShadow;
}

.dg {
  z-index: 20 !important;
}
/*# sourceMappingURL=index.37043840.css.map */
